@import '../../classNames/style.scss';

$container: prefix('editor');
$overlay: BEMElement($container, 'dragOverlay');
$groupSash: BEMElement($container, 'groupSash');
$groupSashVertical: BEMModifier($groupSash, 'vertical');
$groupSashHorizontal: BEMModifier($groupSash, 'horizontal');

.#{$container} {
    background: var(--editor-background);
    display: flex;
    height: 100%;
    position: relative;
    width: 100%;
}

.#{$overlay} {
    align-items: center;
    background: var(--tab-activeBackground);
    border: 1px solid var(--tab-activeBorder, var(--focusBorder));
    box-sizing: border-box;
    color: var(--tab-activeForeground);
    cursor: grabbing;
    display: inline-flex;
    font-size: 12px;
    gap: 4px;
    height: 20px;
    padding: 0 10px;
    pointer-events: none;
    opacity: 0.5;
    white-space: nowrap;
}

.#{$groupSashVertical} {
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px;
        margin-left: -0.5px;
        background-color: var(--editorGroup-border);
        pointer-events: none;
    }
}

.#{$groupSashHorizontal} {
    &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        height: 1px;
        margin-top: -0.5px;
        background-color: var(--editorGroup-border);
        pointer-events: none;
    }
}

:export {
    container: $container;
    overlay: $overlay;
    groupSashVertical: $groupSashVertical;
    groupSashHorizontal: $groupSashHorizontal;
}